body  {background-color:yellow; color:blue; }

     a:link, a:visited{color:red;text-decoration:none; }
     a:hover {
		 text-decoration:underline;
		 font-weight:bold; 
		 font-size:300%;}
	 h1{color:purple;}
	 /*this is where your  content would go */
	 .content{
		 background-color:lightgray;
		 width:70%;
		 margin: 0 auto; /* center the div*/
		 text-align:left;
		 padding:20px;
	 }